<mat-dialog-content #content appRotaryControl [rcParent]="data.parent" rcDisableFocus rcDisableTraversalExit>
  <button class="close-dialog-button" appRotaryControl [rcIndex]="1" rcAutoFocus (click)="closeDialog()">X</button>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis ante in mi malesuada sollicitudin eu ut ex.
    Curabitur eu diam vestibulum, eleifend velit vitae, ullamcorper libero. Vestibulum sollicitudin neque purus,
    volutpat dictum mi fringilla sit amet. Morbi vel enim quis felis aliquam imperdiet sed vitae ex. In hac habitasse
    platea dictumst. Aenean a tristique nunc. Donec tempus consequat neque sit amet luctus. Phasellus quis congue est.
    Vestibulum libero mauris, sagittis id orci eget, finibus efficitur libero. Curabitur molestie ultrices mauris, vel
    luctus augue congue eget. Phasellus at ex nisi. Duis auctor lorem urna, ut placerat turpis hendrerit eu. Fusce
    congue, quam ultricies placerat volutpat, purus quam faucibus elit, eget eleifend magna nisi at nisl.
  </p>
  <p>
    Nulla facilisi. Mauris eleifend tristique nunc in volutpat. Nulla hendrerit vulputate ex, eu iaculis velit dignissim
    sed. Nulla pharetra et nulla a sollicitudin. Quisque et efficitur magna. Donec in lectus posuere, laoreet nisl in,
    egestas orci. Suspendisse ultrices consectetur est nec porttitor. Suspendisse tempus, velit vel malesuada hendrerit,
    enim magna finibus odio, sed tincidunt tortor ligula sit amet purus.
  </p>
  <p>
    Mauris tincidunt, justo id pellentesque eleifend, risus elit semper dolor, eget accumsan ante dolor et eros.
    Praesent volutpat id nisi eget tincidunt. Cras at orci lectus. Nullam vehicula nulla arcu, eget hendrerit nisi
    eleifend sed. Fusce id facilisis nisi, ac dictum odio. Nunc posuere scelerisque elementum. Suspendisse potenti.
    Mauris feugiat eleifend turpis, nec bibendum risus feugiat eget. Maecenas et scelerisque augue, convallis finibus
    nisi. Nam ultrices id dolor et consectetur. Sed elementum, felis eget consequat sollicitudin, magna augue fermentum
    eros, volutpat lobortis nunc metus in diam. Nam et molestie felis, sed pharetra nunc. Ut eget condimentum sem.
    Phasellus rhoncus arcu et nulla varius iaculis.
  </p>
  <p>
    Cras malesuada erat eu leo viverra mollis. Curabitur semper tincidunt ex, sit amet maximus odio ultrices in. Sed
    sodales massa eget dolor facilisis dictum. Quisque eget nunc nulla. Aliquam vehicula tempus eros. Fusce ultrices
    commodo justo eget elementum. In vehicula massa sit amet diam vulputate, at maximus lorem egestas. Duis accumsan
    lorem a felis bibendum, nec blandit leo lobortis. Quisque rutrum, enim quis consectetur consectetur, magna sapien
    vestibulum augue, sit amet condimentum nisi sapien nec odio. Proin ullamcorper elit arcu, non consequat metus auctor
    at. Nam blandit nec odio id rutrum. Nulla facilisi. Fusce efficitur nunc sed nisi dapibus ullamcorper. Praesent
    molestie, erat eu condimentum interdum, ex magna bibendum eros, a aliquet velit sem a neque. Cras mollis magna sed
    aliquam imperdiet.
  </p>
  <p>
    Praesent vehicula, turpis vitae tempus placerat, sapien nibh posuere ligula, in varius eros arcu eget mi. Aenean vel
    tincidunt est. Duis ipsum sem, vestibulum vitae turpis vel, vestibulum sagittis ex. Praesent eu molestie tortor, et
    tincidunt diam. Integer sapien purus, convallis a eleifend egestas, ornare eu lacus. Nunc ornare egestas venenatis.
    Nullam in facilisis nisl. Nunc luctus nisi nunc, sed tincidunt dui ullamcorper sed. Etiam nibh nunc, egestas id
    elementum in, sagittis et arcu. Nam suscipit dapibus nisl id sollicitudin. Sed eget risus ultrices, auctor massa at,
    ultrices nisl. Praesent malesuada ex massa, nec viverra massa rutrum a. Proin molestie rhoncus diam, eu blandit
    massa ullamcorper ac.
  </p>
  <p>
    Nulla eget semper magna, volutpat laoreet mauris. Mauris rutrum erat sit amet mi facilisis consequat. Aenean in
    scelerisque diam, et porttitor dui. Morbi gravida arcu sem. In at risus eget enim pretium vestibulum. Proin feugiat
    eros ante, at pharetra urna posuere sed. Cras a augue non libero pharetra congue non ac mauris. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam tellus sapien, pharetra sit amet finibus a,
    faucibus ut sapien. Etiam consectetur sapien nisl, ac commodo neque sagittis id. Pellentesque blandit molestie arcu
    id gravida. Mauris ac justo urna. Morbi sit amet accumsan elit. Etiam interdum odio et fermentum iaculis. Quisque
    egestas aliquet tellus non iaculis. Vestibulum vel sagittis nibh, ut efficitur metus.
  </p>
  <p>
    Cras pulvinar purus at eros commodo finibus. Ut eget nisl varius nunc elementum varius a a odio. Sed porttitor erat
    risus, vitae convallis massa congue nec. Phasellus cursus gravida velit id suscipit. Integer ac ex accumsan,
    bibendum nisi consequat, laoreet ligula. Ut quis turpis fringilla, aliquet tortor nec, malesuada massa. Sed sit amet
    ullamcorper augue. Donec maximus rutrum porttitor. Proin sed nisl id tortor imperdiet fermentum ac sed massa. Fusce
    consequat neque in purus blandit mattis. Integer eget quam nisl.
  </p>
  <p>
    Phasellus tristique felis nibh, vitae laoreet est viverra id. Phasellus pulvinar, quam ut elementum consectetur,
    tortor arcu dignissim eros, in semper dolor neque a dolor. Mauris eget ex non risus ultricies hendrerit. Donec
    maximus lorem elit, vel eleifend justo gravida sit amet. Curabitur dictum dolor vel turpis suscipit, ac blandit
    justo condimentum. Cras laoreet viverra quam, ut porttitor nunc dictum non. Donec lobortis enim nisl, at hendrerit
    erat luctus et. Quisque vel ipsum nec turpis auctor dignissim. Sed interdum commodo sagittis. Sed ante eros, aliquam
    id cursus bibendum, iaculis non lacus. Etiam vehicula, mauris nec condimentum porttitor, ipsum ex elementum nunc,
    vel posuere elit ligula nec arcu. Etiam ante felis, vestibulum eget felis ut, blandit feugiat tellus.
  </p>
  <p>
    Curabitur nec suscipit purus. Nullam ultricies maximus orci. Donec eu tellus ut odio suscipit luctus. Suspendisse
    pretium nisl enim, non blandit arcu venenatis vitae. Aliquam ac viverra elit. Phasellus ornare, ipsum sed aliquam
    dapibus, ipsum eros condimentum felis, sed suscipit urna mi vitae sapien. Etiam ullamcorper libero et enim molestie,
    quis consectetur metus aliquam. Integer scelerisque est vitae eros commodo, vitae viverra metus auctor. Morbi
    dapibus enim leo, vitae aliquam lacus interdum vitae. Aliquam consectetur sodales cursus. Suspendisse massa urna,
    mattis id nisi sit amet, tempus efficitur augue. Etiam aliquet est augue, vel imperdiet lacus elementum non.
    Suspendisse lacinia sollicitudin nisi ac rhoncus. Cras in efficitur leo.
  </p>
  <p>
    Aenean luctus eget ante et tristique. Vivamus consequat gravida lectus, tempus gravida diam ultricies sed.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ipsum justo,
    maximus sit amet metus nec, facilisis tristique elit. Integer hendrerit lorem at sem malesuada, in aliquam metus
    dignissim. Cras bibendum, ipsum et bibendum sagittis, risus lacus elementum lorem, nec lobortis velit massa at
    velit. Suspendisse pharetra vehicula ipsum, vel pretium risus auctor eget. Phasellus sed rutrum sem. Cras sodales
    interdum commodo. Proin elit ante, molestie ullamcorper rutrum vel, eleifend vel lorem. Nullam molestie neque id
    nibh vulputate, non rutrum mi viverra.
  </p>
</mat-dialog-content>